h1 {
  color: brown;
}

body {
  background-image: url(http://everything.typepad.com/photos/uncategorized/2008/03/28/crosshatch.png);
  border: 1px solid brown;
  margin-right: 25em;
  padding: 2em;
}

ul, ol {
  border: 1px dashed #897210;
}

span {
  font-family: fantasy;
  font-size: 20px
}
